body {
    background: var(--clr-dark);
    color: var(--clr-accent);
}

.colors-2,
.colors-3,
.colors-4 {
    padding: 1rem;
    border: 1px solid #fff;
}

.colors-2 {
    background: hsl(231 77% 90%);
    color: hsl(230 35% 7%);
}

.colors-3 {
    background: white;
    color: var(--clr-dark);
}

.colors-4 {
    background: hsla(231 77% 90% .01);
    color: var(--clr-white);
}












